<section id="splash" class="panel">
<img id="splashImg" src="/images/bckgrnd.png" alt="">
</section>


    <div class="team">
        
        {{#each people}}
        <div class="user-panel">
            <img class="icon" src="images/{{ Image }}" alt="icon">

        

            <h2>{{ Title }}</h2>
            <h4>{{ Description }}</h4>

    <div class="dropdown">
        <button>Did You Know?</button>
     <div class="dropdown-content">
        <h4>{{ Fact }}</h4>
  </div>
</div>
            
            <h5> <a href = "{{ Link }}" target = "blank">Link</a></h5>
        </div>
        {{/each}}
        
    </div>
    </div>
    
    </section>